/*
Emiliano Alighieri Targiano
Jonathan Uriel Anzures García
Pablo Sedano Morlett

This file contains formatting for several screens

*/



/* esta funcion carga la fuente del titulo, descarga el .ttf de dafont y ponlo en la misma carpeta */
@font-face {
    font-family: 'Ethnocentric';
    src: url('ethnocentric.otf') format('opentype');
}

/* esta funcion quita los margenes por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* esta funcion centra todo el contenido en la pantalla */
body {
    background-color: #080808;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
}

/* esta funcion le da estilo al titulo */
h1 {
    font-family: 'Ethnocentric', monospace;
    font-size: 80px;
    letter-spacing: 8px;
    color: white;
    text-shadow: 0 0 20px #ff0033, 0 0 60px #ff0033;
}


/* esta funcion hace que el link no se expanda mas de lo necesario */
a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* esta funcion le da forma y color al boton */
.btn {
    padding: 16px 32px;
    background: #111;
    border: 3px solid #e8002d;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* esta funcion se encarga de que el boton resalte cuando se pasa el mouse por encima de el */
.btn:hover {
    background: #e8002d;
    transform: scale(1.05);
    box-shadow: 0 0 30px #e8002d;
}

/* esta funcion le da estilo al texto del boton */
.btn span {
    font-family: 'Ethnocentric', monospace;
    font-size: 20px;
    letter-spacing: 8px;
    color: white;
}

.contenido {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

/* esta funcion pone el canvas detras de todo */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}