/*
Emiliano Alighieri Targiano
Jonathan Uriel Anzures García
Pablo Sedano Morlett

Main layout + responsive canvas fix
*/
#canvas {
    background-image: url("../game/assets/canvas/fondocanvas.png");
    z-index: 1;
    --colorBorder: #a83331;
    border: 2px solid var(--colorBorder);
    box-shadow: 0 0 10px var(--colorBorder),
                0 0 20px var(--colorBorder),
                0 0 30px var(--colorBorder),
                0 0 40px var(--colorBorder);
}

#canvas2 {
    position: fixed;
    z-index: 0;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;

    
    display: flex;
    justify-content: center;
    align-items: center;
}