#canvas {
    background-image: url("../assets/canvas/fondocanvas.png");
    grid-area: main;
    z-index: 1;
}
#canvas2 {
    
    position: fixed;
    z-index: 0;
}
body {
    
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    display:grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main";
    justify-content: center;
    align-items: center;
    justify-items: center;
}